{% extends 'base.html' %}

{% block content%}

<h1> Witaj {{ current_user.username|upper }}</h1>
<br/>
<p> Jesteś zalogowany, oto Twoje dane:</p>


<strong>Nazwa użytkownika:</strong>
{{current_user.username}}<br/>

<strong>Imię:</strong>
{{current_user.name}}<br/>

<strong>Email:</strong>
{{current_user.email}}<br/>

<strong>Data dołączenia:</strong>
{{current_user.date_added}}<br/>

<br/>
<a class="btn btn-primary" href="{{ url_for ('logout')}}" role="button">Logout</a>
<!-- <a href="{{ url_for ('logout')}}">Logout </a>-->
<a href="{{url_for('update', id=current_user.id)}}" class=" btn btn-success">Update Profile</a>
<a href="{{url_for('delete', id=current_user.id)}}" class="btn btn-danger">Delete</a>
{% endblock%}